<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Route Search</title>
    </head>
    <body>
        <div id="app" class="section">
            <form class="form" v-on:submit.prevent>
                <div id="field">
                    <label class="label">Enter Address</label>
                    <input class="input" id="address search bar" v-model="address">
                </div>
                <button class="button" @click="search">Search</button>
                <button class="button" @click="find">Find</button>
            </form>
            <div id="results_window" class="container">
                <ul>
                    <li v-for="result in results" @click="klick(result)">
                        {{ result.label }}
                    </li>
                </ul>
            </div>
            
            <div id="geo_results" class="container">
                <div v-for="result in geoResults">
                    {{ result.Location.DisplayPosition }}
                </div>
            </div>
        </div>

        <script src="script.js"></script>
    </body>
</html>
